body {
    margin: 0;
    background-color: red;
}

header {
    background-color: rgb(46, 132, 245);
    height: 180px;
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    background-size: 30%;
}

.logo {
    padding-top: 60px;
    height: 45%;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    background-color: #fff;
}

h1 {
    padding-right: 20px;
    font-size: 63px;
    margin-bottom: 0;
}

h3 {
    margin: 0;
    font-size: 28px;
    color: rgb(182, 180, 180)
}

a {
    text-decoration: none;
    color: rgb(65, 167, 250)
}

h5 {
    margin-top: 0;
    font-size: 20px;
    color: rgb(182, 180, 180);
}

.Lee {
    width: 840px;
    height: 605px;
}

.description {
    font-size: 18px;
}

.text {
    font-size: 20px;
}

.list {
    padding-left: 20px;
    font-size: 20px;
}