body {
    margin: 0;
}

header {
    background-color: rgb(46, 132, 245);
    height: 180px;
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    background-size: 30%;
}

.logoc {
    max-width: 1800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left center;

}

.logo {
    height: 180px;
    margin: 0px;
    color: rgba(0, 0, 0, 0);
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    background-color: #fff;
}

h1 {
    padding-right: 20px;
    font-size: 63px;
    margin-bottom: 0;
}

h3 {
    margin: 0;
    font-size: 28px;
    color: rgb(182, 180, 180)
}

a {
    text-decoration: none;
    color: rgb(65, 167, 250)
}

h5 {
    margin-top: 0;
    font-size: 20px;
    color: rgb(182, 180, 180);
}

.Lee {
    width: 840px;
    height: 605px;
}

.description {
    font-size: 18px;
}

.text {
    font-size: 20px;
}

.list {
    padding-left: 25px;
    font-size: 20px;
}

thead {
    background-color: rgb(97, 155, 209);
    color: white;
}

table {
    border-collapse: collapse;
    font-size: 20px;
    text-align: left;
    table-layout: fixed;
    height: 200px;
}

.line {
    background-color: rgb(96, 201, 250);
}

.cell {
    table-layout: fixed;
    width: 400px;
}

.desktop {
    width: 312px;
    background-image: url('../img/monitor.jpg');
    background-repeat: no-repeat;
    padding-bottom: 10px;
    color: #FFFFFF;
    font-size: 145%;
    font-weight: bold;
    line-height: 208px;
}

.maps {
    width: 312px;
    background-image: url('../img/graph.jpg');
    background-repeat: no-repeat;
    background-size: 312px 208px;
    color: #FFFFFF;
    font-size: 145%;
    font-weight: bold;
    line-height: 208px;
}

h4 {
    font-size: 28px;
    color: rgb(182, 180, 180)
}