body {
    background-color: red;
}

header {
    background-color: rgb(46, 132, 245);
    height: 180px;
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    background-size: 30%;
}

.logo {
    padding-top: 60px;
    height: 45%;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    background-color: #fff;
}